 <!-- <nav>
  <div class="navbar">
    <div class="container">
      <a routerLink="/" class="logo">FlickZone </a>
      <ul class="nav-links ml-auto mt-3">
        <li><a routerLink="/"><i class="fa-solid fa-house" style="color: #e6f056;"></i> Home</a></li>
        <li><a routerLink="/movies"><i class="fa-solid fa-film" style="color: #e6f056;"></i> Movie</a></li>
        <li><a href="#"><i class="fa-solid fa-tv" style="color: #e6f056;"></i> TV Show</a></li>
        <li *ngIf="isAuthenticated"><a routerLink="/watchlist"><i class="fa-solid fa-list" style="color: #e6f056;"></i> Watch List</a></li>
        <li *ngIf="isAuthenticated"><a routerLink="/movies/addmovie"><i class="fa-solid fa-plus" style="color: #e6f056;"></i> Add Movie</a></li>
        <li *ngIf="isAuthenticated"><a routerLink="/categories/add"><i class="fa-solid fa-plus" style="color: #e6f056;"></i> Add Category</a></li>
      </ul>
      <ul class="nav-links ms-auto mt-3">
        <li *ngIf="isAuthenticated" style="margin-right: 0px;"><a (click)="logout()" routerLink="/auth"><i class="fa-solid fa-right-from-bracket" style="color: #e6f056;"></i> Logout</a></li>
        <li *ngIf="!isAuthenticated" style="margin-right: 0px;"><a routerLink="/auth"> Login</a></li>
        <li *ngIf="!isAuthenticated" style="margin-right: 0px;"><a routerLink="/auth"> Register</a></li>
        
      </ul>
    </div>
  </div>
</nav> -->

<header class="bg-black py-6 lg:py-12 text-flickzone-grey font-gemunu">
    <div class="container flex items-center justify-between space-x-8 lg:space-x-16">
      <!--Logo -->
      <a href="#" class="pl-4 md:pl-0 text-4xl lg:text-6xl font-bold text-flickzone-yellow text-transparent bg-gradient-to-r bg-clip-text from-flickzone-yellow to-flickzone-grey">FlickZone</a>  
      
      <!--Mobile Menü -->
      <div class="block md:hidden pr-4">
        <div class="space-y-1 cursor-pointer">
          <div class="bg-flickzone-grey w-8 h-1 rounded-full"></div>
          <div class="bg-flickzone-grey w-8 h-1 rounded-full"></div>
          <div class="bg-flickzone-grey w-8 h-1 rounded-full"></div>
        </div>
      </div>

      <!--Navigation -->
      <nav class="hidden md:flex justify-between flex-1">

        <!--Menü-->
        <div class="flex items-center lg:text-2xl space-x-4 lg:space-x-8">
          <a routerLink="/" class="hover:text-flickzone-yellow text-flickzone-grey transition duration-500">Home</a>
          <a routerLink="/movies" class="hover:text-flickzone-yellow text-flickzone-grey transition duration-500">Movies</a>
          <a *ngIf="isAuthenticated" routerLink="/watchlist" class="hover:text-flickzone-yellow text-flickzone-grey transition duration-500 whitespace-nowrap">
            <i class="fa-solid fa-list" style="color: #e6f056;"></i> Watch List
          </a>
          <a *ngIf="isAuthenticated" routerLink="/movies/addmovie" class="hover:text-flickzone-yellow text-flickzone-grey transition duration-500 whitespace-nowrap">
            <i class="fa-solid fa-plus" style="color: #e6f056;"></i> Add Movie
          </a>
          <!-- <a *ngIf="isAuthenticated" routerLink="/categories/add" class="hover:text-flickzone-yellow text-flickzone-grey transition duration-500">Add Category</a> -->
        </div>


        <!--Login Area-->
        <div class="flex items-center space-x-4 lg:space-x-8">
          <!--Search Area-->
          <form>
            <div class="group border-r px-4 mx-4 py-1 border-flickzone-gold">
              <input type="text" class="opacity-100 group-hover:opacity-100 bg-transparent border-b border-flickzone-blue focus:outline-none w-24 lg:w-44 transition duration-500">
              <button class="-ml-4 group-hover:ml-0 transition duration-500"><i class="fa-solid fa-magnifying-glass group-hover:text-flickzone-yellow transition duration-500"></i></button>
            </div>
          </form>

          <!--Signup Area-->
          <div class="flex items-center space-x-4 lg:space-x-8 lg:text-2xl">
            <a *ngIf="isAuthenticated" (click)="logout()" routerLink="/auth" class="hover:text-flickzone-yellow text-flickzone-grey transition duration-500 whitespace-nowrap">
              <i class="fa-solid fa-right-from-bracket" style="color: #e6f056;"></i> Log Out
            </a>
            <a *ngIf="!isAuthenticated" routerLink="/auth" class="hover:text-flickzone-yellow text-flickzone-grey transition duration-500">Login</a>
            <a *ngIf="!isAuthenticated" routerLink="/auth" class="bg-flickzone-gold px-3 py-1 text-flickzone-grey hover:bg-flickzone-yellow hover:text-flickzone-grey cursor-pointer transition duration-500 whitespace-nowrap">Sign Up</a>
          </div>

        </div>
      </nav>
    </div>
</header>