<footer class="bg-black text-flickzone-grey">
    <div class="container flex flex-col md:flex-row pb-8 px-10 lg:px-0"> 
        <div class="basis-1/3">
            <a href="#" class=" text-2xl lg:text-3xl font-bold text-flickzone-yellow text-transparent bg-gradient-to-r bg-clip-text from-flickzone-yellow to-gray-200">FlickZone</a>     
            <p class="text-sm mt-2">2023 YılmazSoft &copy; COPYRIGHT</p>
        </div>
        <div class="basis-1/3">
            <h2 class="mb-2 text-flickzone-yellow">LINKS</h2>
            <div class="grid grid-cols-5 gap-2 uppercase">
                <a href="#" class="col-span-2 text-flickzone-grey no-underline hover:text-flickzone-yellow duration-500">Movies</a>
                <a href="#" class="col-span-2 text-flickzone-grey no-underline hover:text-flickzone-yellow duration-500">TV Shows</a>
                <a href="#" class="col-span-2 text-flickzone-grey no-underline hover:text-flickzone-yellow duration-500">Watch List</a>
                <a href="#" class="col-span-2 text-flickzone-grey no-underline hover:text-flickzone-yellow duration-500">News</a>
            </div>
        </div>
        <div class="basis-1/3">
            <h2 class="mb-2 text-flickzone-yellow">FOLLOW US</h2>
            <form action="" class="space-x-1 flex">
                <input class="py-1 px-2 bg-transparent border-1 border-flickzone-gold placeholder:text-xs outline-none" type="text" placeholder="Your Email">
                <button class="py-1 px-2 bg-transparent border-1 border-flickzone-gold bg-flickzone-gold font-gemunu uppercase">Subscribe</button>
            </form>
       </div>
    </div>
</footer>